@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  * {
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  main {
    padding: 16px;
  }
img {
    height: 200px;
}
nav {
    border-bottom: solid black 1px;
    padding: 16px 16px;
}
a {
    text-decoration: none;
    color: green
}
nav {
    background-color: skyblue;
        a{
            color: #F8EFEA;
        }
}
a:hover {
color: #146152;
}
footer {
    padding: 24px 0px;
    bottom: 0;
    background-color: navy;
}
tr {
    display: grid;
    grid-template-columns: 1fr 1fr 20px;
    grid-template-rows: auto 10px
}
tr:nth-child(even) {
    background-color:#CDCBD6;
}
th {
    display: grid;
    grid-template-columns: 1fr 20px;
    font-size: 18px;
    font-weight: bold;
}
h1 {
    color: #146152;
}
main > div {
    display: grid ;
    grid-template-columns: auto auto auto auto;
}
